<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}{% endblock %}</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">

    </head>
    <body>
        <div class="container mt-5">
            <div class="row">
                <!-- formularios -->
                <div class="col-3">
                    <form action="" method="post">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="monto" style="text-align: center; font-weight: bold;">Monto a solicitar</label>
                            <input type="text" name="monto" id="monto" class="form-control" required autofocus>
                        </div>
                        <div class="mb-3">
                            <label for="tasa" style="text-align: center; font-weight: bold;">Tasa de interés</label>
                            <input type="number" name="tasa" id="tasa" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="plazo" style="text-align: center; font-weight: bold;">Plazo</label>
                            <input type="number" name="plazo" id="plazo" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <input type="submit" style="text-align: center; font-weight: bold;" class="btn  btn-outline-success " value="Calcule su cuota">
                        </div>
                    </form> 
                </div>

                <!-- datos -->
                <div class="col-9">
                    <table class="table table-hover table-striped table-bordered">
                    <h2>Cuota calculada</h2>
                        <thead class="thead-dark">
                            <tr>
                                <th>Monto</th>
                                <th>Tasa</th>
                                <th>Plazo</th>
                                <th>Cuota</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for p in calculo %}
                                <tr>
                                    <td>{{p.monto}}</td>
                                    <td>{{p.tasa}}%</td>
                                    <td>{{p.plazo}} añis</td>
                                    <td>{{p.cuota}}</td>
                                    <td>{{p.total}}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    </body>
</html>